.headline {
	font-weight: 300;
	font-size: 1.9rem;
	color: $pistonNavy;

	@mixin atSmall {
		font-size: 2.8rem;
	}

	&--center {
		text-align: center;
	}

	&--red {
		color: $pistonRed;
	}

	&--small {
		font-size: 1.2rem;

		@mixin atSmall {
			font-size: 1.875rem;
		}
	}

	&--light {
		font-weight: 100;
	}

	&--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	&--b-margin-small {
		margin-bottom: .5rem;
	}
	
	&--b-margin-large {
		margin-bottom: 2rem;

	}

	strong {
		font-weight: 400;
	}

	&--row-center {
		text-align: center;

		@mixin atMedium {
			text-align: left;
		}
	}

	&--no-t-margin {
		margin-top: 0rem;
	}

}