.intro {
	position: relative;
	border-bottom: 10px solid $pistonNavy;

	&__image {
		display: block;
	}

	&__text-content {
		padding-top: 88px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;

		@mixin atMedium {
			padding-top: 60px;
		}
	}

	&__title {
		font-weight: 200;
		color: $pistonWhite;
		margin: 0;
		font-size: 2rem;
		text-shadow: 2px 2px 0px rgba(0, 0, 0, .3);

		@mixin atSmall {
			font-size: 4.8rem;
		}

	}

	&__subtitle {
		font-weight: 200;
		color: $pistonWhite;
		font-size: 1.5rem;
		margin: 0;
		text-shadow: 2px 2px 0px rgba(0, 0, 0, .3);

		@mixin atSmall {
			font-size: 2.8rem;
		}

	}

	&__description {
 		color: $pistonWhite;
 		font-size: 1.2rem;
 		font-weight: 100;
 		max-width: 30rem;
 		margin-left: auto;
 		margin-right: auto;
 		text-shadow: 2px 2px 0px rgba(0, 0, 0, .3);
		
		@mixin atSmall {
			font-size: 1.875rem;
		}

 	}

}