.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;

	@mixin atSmall {
		font-size: 3.75rem;
	}

	strong {
		font-weight: 500;
	}

	&__icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .6rem;

		@mixin atSmall {
			position: relative;
			top: 13px;
			margin-right: .8rem;
			margin-left: 0;
			display: inline-block;
			margin-bottom: .5rem;
		}

	}

	&__icon--arena {
		display: block;
		margin-top: 2rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4rem;
		transform: translateX(0) scale(2);
		@mixin clearfix;

		@mixin atSmall {
			margin-left: auto;
			margin-right: auto;
			left: 50%;
			transform: translateX(0) scale(3.3);
			margin-top: 4.5rem;
		}

		@mixin atMedium {
			margin-left: auto;
			margin-right: auto;
			left: 50%;
			transform: translateX(0) scale(4);
			margin-top: 4.5rem;
		}

		@mixin atLarge {
			margin-left: auto;
			margin-right: auto;
			left: 50%;
			transform: translateX(0) scale(5.7);
			margin-top: 4.5rem;
		}

	}

}